*{
	padding: 0;
	border: 0;
	margin: 0;
}

.khoi-do{
	width: 300px;
	height: 300px;
	background-color: red;
	margin: 30px;
	/*làm mốc*/
	position: relative;

}

.khoi-xanh{
	width: 300px;
	height: 300px;
	background-color: green;
	margin-bottom: 30px;
}

.khoi-den{
	background-color: #00000057;
	width: 300px;
	height: 100px;
	/*định vị theo vị trí móc */
	position: absolute;
	/*nằm ở dưới đếm từ 0 px*/
	bottom: 0px;
	/*nằm ở bên trái đếm từ 0 px*/
	left:  0px;
}

.bai-tap{
	width: 275px;
	height: 250px;
	padding-right: 15px;
}

.noi-dung{
	width: 260px;
	height: 190px;
	/*chia layer trong css*/
	position: relative;
}

.noi-dung img{
	width: 260px;
	height: 160px;
}


.noi-dung h2{
	width: 260px;
	padding-left: 30px;
	text-transform: uppercase;
	/*border dùng trong khung ảnh làm viền và có màu để khác với margin */
	border-left: 10px red solid;
	/*margin-left: 10px;*/
	/*khối --> padding --> border --> margin*/
	font-family: tahoma;
	color: white;
	background-color: #000000ba;
}

.noi-dung a{
	width: 260px;
	font-size: 20px;
	font-weight: bold;
	/* display dùng để cho thẻ a hiểu đc xuống dòng là gì ahehe*/
	display: block;
	padding-left: 30px;
	text-transform: uppercase;
	/*	text-decoration: none để bỏ gạch chân đi*/
	text-decoration: none;
	font-family: tahoma;
	color: white;
	background-color: #0000007d;

	position: absolute;
	bottom: 0px;
	left: 0px;

}