.khoi-trang-chu{
	background-color: white;
	width: 960px;
	height: 400px;
	color:  red;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.doan{
	/*font-size: 20px;*/
	/*font-weight: bold;*/
	font-family: Arial;
	/*text-decoration: underline;*/
	line-height: 30px;
}

.img-trang-chu{
	float: left;
	margin-right: 20px;
}

.khoi-bai-viet{
	width: 1000px;
	height: 875px;
	border: 2px solid yellow;
}		