*{
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #E7E7E7;
}

.main-container{
	width: 380px;
	height: 210px;
	padding: 20px;
	margin: 20px;
	background-color: #FFFFFF;
}

.follow-title{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	border-bottom: 2px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}

.follow-title h3{
	display: inline-block;
	background-color: black;
	color: #FADA1A;
	/*5 px tren duoi va 10px la trai phai */
	padding: 5px 10px;
}

.follow-icon{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	padding-bottom: 5px;
/*	padding-top: 20px;*/
	overflow: hidden;
}
/*margin ngoài padding trong*/
.icon{
	background-color: #3B5998;
	width: 120px;
	height: 120px;
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-top: 20px;
	transition: 0.4s;
}

.icon i{
	font-size: 64px;
	color:  white;
	display: block;
	background-color: transparent;
	margin-top: 10px;
}

.icon p{
	background-color: transparent;
	margin-top: 10px;
	font-weight: bold;
	color: white;
	margin-right: 10px;
}

.twitter{
	background-color: #1DCAFF;
}

.google{
	background-color: #DD4B39;
}

.icon:hover{
	background-color:  black;
/*	width: 200px;
	height: 200px;*/
	margin-top: 10px;
	transition: 0.4s;
}

.display{
	margin-top: -20px;
	display: inline-block;
}